<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>artistName</key>
		<string>Michael Jackson</string>
		<key>albumName</key>
		<string>THRILLER</string>
		<key>songName</key>
		<string>Billie Jean</string>
		<key>albumArtwork</key>
		<string>demo1.png</string>
	</dict>
	<dict>
		<key>artistName</key>
		<string>Michael Jackson</string>
		<key>albumName</key>
		<string>THRILLER</string>
		<key>songName</key>
		<string>Beat It</string>
		<key>albumArtwork</key>
		<string>demo2.jpg</string>
	</dict>
	<dict>
		<key>artistName</key>
		<string>Michael Jackson</string>
		<key>albumName</key>
		<string>THRILLER</string>
		<key>songName</key>
		<string>Baby Be Mine</string>
		<key>albumArtwork</key>
		<string>demo3.jpg</string>
	</dict>
</array>
</plist>
